.chart-container-bar{
    width: 600px;
    height: 400px;
    padding: 10px;
    position: relative;
}
.chart-container-line{
    width: 580px;
    height: 350px;
    padding: 10px;
    position: relative;
}
.chart-container-pie{
    width: 580px;
    height: 350px;
    padding: 10px;
    position: relative;
}

@media only screen and (max-width: 700px){
    .chart-container-bar{
        width: 90%;
        padding: 10px;
        position: relative;
    }
    .chart-container-line{
        width: 100%;
        position: relative;
    }
    .chart-container-pie{
        width: 90%;
        position: relative;
    }
}
@media only screen and (max-width: 400px){
    .chart-container-bar{
        width: 100%;
        padding: 10px;
        position: relative;
    }
}